<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>Sketchy, Inc. All Right Reserved</description>
        <param-name>copyright</param-name>
        <param-value>Sketchy, Inc. All Right Reserved</param-value>
    </context-param>
    <context-param>
        <param-name>companyname</param-name>
        <param-value>Sketchy</param-value>
    </context-param>
    <context-param>
        <param-name>email</param-name>
        <param-value>neverreply@sketchy.com</param-value>
    </context-param>
    <servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>controller.ViewItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>controller.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem</servlet-name>
        <servlet-class>controller.UpdateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>controller.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItem</servlet-name>
        <servlet-class>controller.SearchItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPrice</servlet-name>
        <servlet-class>controller.SearchPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateItemReport</servlet-name>
        <servlet-class>controller.GenerateItemReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <servlet-class>controller.QuantityIncDecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>controller.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInitServlet</servlet-name>
        <servlet-class>controller.LoadInitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>controller.AddOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>controller.DeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrder</servlet-name>
        <servlet-class>controller.UpdateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>controller.ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOrder</servlet-name>
        <servlet-class>controller.InsertOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controller.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffList</servlet-name>
        <servlet-class>controller.DeleteStaffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserList</servlet-name>
        <servlet-class>controller.DeleteUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindDeleteStaff</servlet-name>
        <servlet-class>controller.FindDeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindDeleteUser</servlet-name>
        <servlet-class>controller.FindDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUpdateStaff</servlet-name>
        <servlet-class>controller.FindUpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUpdateUser</servlet-name>
        <servlet-class>controller.FindUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHome</servlet-name>
        <servlet-class>controller.LoginHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffHome</servlet-name>
        <servlet-class>controller.LoginStaffHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaff</servlet-name>
        <servlet-class>controller.SearchStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffList</servlet-name>
        <servlet-class>controller.SearchStaffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>controller.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserList</servlet-name>
        <servlet-class>controller.SearchUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogin</servlet-name>
        <servlet-class>controller.StaffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaInfo</servlet-name>
        <servlet-class>controller.UpdateStaInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogout</servlet-name>
        <servlet-class>controller.StaffLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaList</servlet-name>
        <servlet-class>controller.UpdateStaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffInfo</servlet-name>
        <servlet-class>controller.UpdateStaffInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffList</servlet-name>
        <servlet-class>controller.UpdateStaffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfo</servlet-name>
        <servlet-class>controller.UpdateUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserList</servlet-name>
        <servlet-class>controller.UpdateUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdUserList</servlet-name>
        <servlet-class>controller.UpdUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdUserInfo</servlet-name>
        <servlet-class>controller.UpdUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertOrder2</servlet-name>
        <servlet-class>controller.insertOrder2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name>
        <url-pattern>/ViewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem</servlet-name>
        <url-pattern>/UpdateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/DeleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItem</servlet-name>
        <url-pattern>/SearchItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPrice</servlet-name>
        <url-pattern>/SearchPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateItemReport</servlet-name>
        <url-pattern>/GenerateItemReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <url-pattern>/quantity-inc-dec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInitServlet</servlet-name>
        <url-pattern>/LoadInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/AddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrder</servlet-name>
        <url-pattern>/UpdateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/ViewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOrder</servlet-name>
        <url-pattern>/InsertOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffList</servlet-name>
        <url-pattern>/DeleteStaffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserList</servlet-name>
        <url-pattern>/DeleteUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindDeleteStaff</servlet-name>
        <url-pattern>/FindDeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindDeleteUser</servlet-name>
        <url-pattern>/FindDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUpdateStaff</servlet-name>
        <url-pattern>/FindUpdateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUpdateUser</servlet-name>
        <url-pattern>/FindUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHome</servlet-name>
        <url-pattern>/LoginHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffHome</servlet-name>
        <url-pattern>/LoginStaffHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaff</servlet-name>
        <url-pattern>/SearchStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffList</servlet-name>
        <url-pattern>/SearchStaffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserList</servlet-name>
        <url-pattern>/SearchUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogin</servlet-name>
        <url-pattern>/StaffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaInfo</servlet-name>
        <url-pattern>/UpdateStaInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogout</servlet-name>
        <url-pattern>/StaffLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaList</servlet-name>
        <url-pattern>/UpdateStaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffInfo</servlet-name>
        <url-pattern>/UpdateStaffInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffList</servlet-name>
        <url-pattern>/UpdateStaffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfo</servlet-name>
        <url-pattern>/UpdateUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserList</servlet-name>
        <url-pattern>/UpdateUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdUserList</servlet-name>
        <url-pattern>/UpdUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdUserInfo</servlet-name>
        <url-pattern>/UpdUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertOrder2</servlet-name>
        <url-pattern>/insertOrder2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
